body{

    background: linear-gradient(179deg, #ffffff, #dae3e3);
    background-size: 400% 400%;
}
footer{
            width: 100%;
            height: 85px;
           
            position: fixed;
            
            bottom: 0;
          }

.main{
            
            text-align: center;
        }
