body{
    background: rgb(27,43,66);
    background: linear-gradient(180deg, rgba(27,43,66,1) 0%, rgba(27,43,66,1) 57%, rgba(60,77,133,1) 86%);
}
#podcast{
    -webkit-transition: width 2s; /* Safari */
    transition: width 2s;
}
#podcast:hover{
    width: 350px;
    box-shadow: 5px 5px 20px black;
}